/* Page content */

#container {
    display: flex;
}
#add-task {
    flex: 1;
    background-color: lightblue;
    border-radius: 8px;
    padding: 20px;
}
#tasks-table-container {
    flex: 3;
    background-color: lightcoral;
    border-radius: 8px;
    padding: 20px;
}
h1 {
  text-align: center;
}

/* Add new task form */
.add-task-section {
  width: fit-content;
  margin: auto;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.form-group label {
    flex-basis: 120px; /* Set a fixed width for all labels */
    text-align: right;
    margin-right: 10px; /* Add some space between the label and the input */
}
input, button {
    padding: 8px;
    flex-grow: 1; /* Allow input to take up remaining space */
    border-radius: 8px;
}

/* Tasks table */
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}